# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/
.venv/

# Logs
*.log
logs/

# Env
.env

# VSCode
.vscode/

# Mongo
data/
dump/

# OS
.DS_Store
Thumbs.db


# Pytest
.pytest_cache/
coverage.xml

# Docker
*.pid

